 .articleLinks, .designLinks {
 	font-size:1.25rem;
 }

.articleYears {
	margin-left:0px;
}

.panel, .workDisplay {
	top:250px;
}

div p {
	font-size:1rem;
	line-height:27px;
}

p cite.title {
	font-size:1rem;	
}

.mobile-nav a {
	font-size:2.1rem;
}

.selfie-text h2 {
	font-size: 1.2rem;
}

.selfie-text h1 {
	font-size:1.45rem;
}

header .mobile-nav:nth-child(1) {
	margin-left:-20px;
}

header .mobile-nav:nth-child(3) {
		margin-right:-20px;
}

header {
	width: 120%;
	margin-left:-10%;
}