body {

}

header {
	
}

#logoMobile {
	position:relative;
	float:right;
	max-width:100px;
	margin-right:10%;
	display:block;
	margin-top:30px;
	margin-bottom:20px;
}

#logo {
	display:none;
}

.container {

}

#offCanvasMenu {
	display:inline-block;
	height:40px;
	margin-top:50px;
	margin-right: auto;
	position:relative;
	padding-left:10%;
	max-width:160px;
}

#offCanvasMenu ul li a {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size:36px;
	line-height:50px;
	color:#DEDEDD;
	transition: padding .16s ease-in-out;
    -moz-transition: padding .16s ease-in-out;
    -webkit-transition: padding .16s ease-in-out;
    display:block;
}

div ul li{
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size:36px;
	line-height:50px;
	color:#DEDEDD;
}

.panel, .workDisplay {
	width:100%;
	margin-right:0%;
}


.content {
	margin-left:7%;
	margin-right:7%;
	margin-top:10%;
	background-color:#222;
}

.work {
	margin-top: 10%;
}

#img1 {
	margin-top:0px;
}

div p {
	font-size:18px;
	line-height:28px;
}

footer {
	display:none;
}

