 .articleLinks, .designLinks {
 	font-size:1.25rem;
 }

.articleYears {
	margin-left:0px;
}

.panel, .workDisplay {
	top:250px;
}

div p {
	font-size:1rem;
	line-height:27px;
}

p cite.title {
	font-size:1rem;	
}