.selfie-text {
	padding-top:37px;
}

.selfie-text.hide, .index-content-container.hide {
	transform:none !important;
}

.index-content-container.hide {
	margin-top:0px;
	height:auto;
}

.index-thumbs-container.hide {
	height:15px;
}

.index-thumbs-container.hide .index-thumb {
	height:0px;
}

.container {
	overflow:hidden;
}

h1 {
	font-size:1.75rem;
	line-height:30px;
}

h2 {
	font-size:1.35rem;
	line-height:1.35;
}

.index-thumbs-container {
	max-width:324px;
}

.index-thumb {
	width:100%;
	margin-left:0%;
	margin-right:0%;
	margin-bottom:6%;
}

.mobile-nav-container {
	max-width:unset;
}
.mobile-nav {
	display:block;
	position:absolute;
	top:45px;
	margin-top:0px;
}

header .mobile-nav:nth-child(1) {
}

header .mobile-nav:nth-child(3) {
	right:0;
}

.mobile-nav a {
	margin-left:15px;
}

html.no-js #headerWrapper {
		left:0px;
}

html.no-js header {
	width:100%;
}

html.no-js .panel {
	width:100%;
}

html.no-js .workDisplay {
	width:100%;
}

html.no-js .workDisplay .content {
		margin-left:auto;
}

.panel div#ajaxContent {
		margin-left:75px;
		width:90%;
		max-width:700px
}


#headerWrapper {
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	width:auto;
	height:95px;
	margin-top:-35px;
	position:relative;
	z-index:1;

}

header {
	transform:scale(0.5);
	float:none;
	position: relative; /*this is not only why. it's because jquery is moving to panel's left offset which is off screen*/
}

.panel.panelSidebar {
	right:-200px;
}

.panel, .workDisplay {
	right:0;
	top:220px;
	width:100%;
	margin-right:0%;
	box-shadow: 0px 0px 0px rgba(0, 94, 101, 0.8);
}

.workDisplay {
	transform:none;	
}

.hide {
	transform:translateX(5555px) !important;
}

#selfieDiv {
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
}

#hrTop {
	width:80%;
}

#menu {
	width:auto;
	max-width: 80%;
	height:100%;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}

nav ul li {
	display:inline-block;
}

nav ul li{
	transition: border-right .13s ease-in;
    -moz-transition: border-right .13s ease-in;
    -webkit-transition: border-right .13s ease-in;
}

nav ul li:hover {
	animation:none;
	-webkit-animation: none;
}

nav ul li:hover::before {
	background-color:transparent;
}

div ul li{
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	font-size:36px;
	line-height:50px;
	color:#DEDEDD;
}

.workDisplay .content {
	margin-left:10%;
	margin-right:10%;
	width: 80%;
}

.panel div#ajaxContent {
	margin-left:5%;
	margin-right:5%;
	margin-top:10%;
	width:90%;
	bottom:0;
}

.articleLinks, .designLinks {
	margin-bottom:20px;
}

.articleYears {
	margin-left:-15px;
	margin-top:20px;
}

.articleDiv {
	margin-left:0px;
}

.infoBox {
	width:100%;
	max-width:100%;
	min-width:100%;
	float:none;
	margin-left:0px;
	margin-bottom:12px;
}

.work {
	margin-top: 10%;
}

#img1 {
	margin-top:0px;
}

div p {
	font-size:1.1rem;
	line-height:29px;
}

p cite.title {
	font-size:1.1rem;	
}

footer {
	display:none;
}

.resetDiv {
	-webkit-transition: none !important;
	transition:         none !important; 
}
	
.showDiv {
	-webkit-transition: none !important;
	transition:         none !important; 
}

.heroImage, .heroImageWork {
	display:none;
}