h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

.fix {
clear: both;
}

ul {
list-style: none;
}

/*body:after { content: ''; background-image: url(http://pls.webtype.com/v.gif?ct=88125,88126,88123,88124&r=18710&p=17639&h=ncsn5xZ1zR9t5KXDd0AqiA%3d%3d); }*/

@font-face {
 font-family: "Agenda Medium";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/15028f46-0072-4465-9e17-4d4fd0022cdc") format("woff");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "Agenda Medium";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/1b45bb3c-9d91-447a-9372-dc762dca3e6a") format("woff");
 font-style: italic;
 font-weight: normal;
}
@font-face {
 font-family: "Alegreya Sans";
 src: url("http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgtUFqmyT-Ih543PWa_C0ig4.woff") format("woff");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "Alegreya Sans";
 src: url("http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/TKyx_-JJ6MdpQruNk-t-PM_0Gg_psQEhwRxPwkVXUB8.woff") format("woff");
 font-style: italic;
 font-weight: normal;
}

/* -------------------------- */


/*	COLORS
	Light blue: #00A9B4;
	Dark blue: #007D85;
	Orangered: #EA4423 or rgba(234,68,35, 1);
	Dark grey: #323232;
	Middle grey: #CCCCCB;
	Light grey: #DEDDDD or rgba(243, 240, 240, 1);

	FONT SIZES
	1rem = 16px
	1.25rem = 20px
	1.75rem = 28px
	2.25rem = 36px
*/

html{
	height:100%;
	background-position:top;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-color:rgb(0, 125, 133);
	background-image: url("../images/BG_riot.jpg") ;
}

body {
	width:100%;
	height:100%;
}

/* Text Styling */

h1 {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	font-style:normal;
	color:#ED420A;
	font-size:2.25rem;
	line-height:36px;
}

h2 {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#ED420A;
	font-size:1.25rem;
	line-height:36px;
}

div p {
	font-size:1.25rem;
	line-height:31px;
	margin-top:15px;
	font-style:normal;
}

p {
	font-family:"Alegreya Sans", Arial, Helvetica, sans-serif;
	color: #323232 ;
}

/* Text Styling End */

/* Link Styling */

nav ul li{
	border-right:0px solid rgba(237,66,10,.9);
	transition: border-right .13s ease-in;
    -moz-transition: border-right .13s ease-in;
    -webkit-transition: border-right .13s ease-in;
}

nav ul li:hover {
	border-right: 10px solid rgba(237,66,10,.9);
}

nav ul li a {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size:2.25rem;
	line-height:50px;
	color:#DEDEDD;
    display:block;
}

a:hover {
	color:#CCCCCB;
	cursor: pointer;
	cursor: hand; 
}

.imgDiv a {
	line-height: 0;
	font-size:0;
	height:0;
	background: rgba(204,204,203, 0.5);  
}

.imgDiv a:hover:before {  
    content: "";  
    display: block;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
 	opacity:1;
 	background: rgba(204,204,203, 0.5);  
 }  
  
.imgDiv a:before {  
   	-moz-transition: opacity 3s ease;  
    -webkit-transition: opacity 3s ease;  
    -o-transition: opacity 3s ease;  
    transition: opacity 3s ease; 
    opacity:0;
}  

/* Link Styling End */

/* Menu Styling */

#headerWrapper {
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	width:260px;
}

header {
	position:fixed;
	height:100%;
	margin-top:0px;
}

#logoMobile {
	display:none;
}

#selfieDiv {

	position:relative;
	height:175px;
	width:175px;
	margin-right:10%;
	margin-top:200px;
	margin-left:10%;
	display:block;
}

#selfieImage {
	background-repeat:no-repeat;
	background-position: top center;
	background-size:100% 100%;
	background-image: url('../images/placeholder_selfie.jpg');
	height:100%;
	width:100%;
	border-radius: 50%;
    box-shadow:
        inset 0 0 0 0px rgba(234,68,35, 0.1);
    transition: all 0.2s ease-in-out;
}

#selfieImage:hover {
    box-shadow:
        inset 0 0 0 10px rgba(234,68,35, 0.9);
    background-size:105% 105%;
}

#logo {
	position:relative;
	max-width:200px;
	margin-right:10%;
	padding-top:200px;
	margin-left:10%;
	display:none;
}

#hrTop {
	margin-top:1em;
	border-width:1px 0 0 0;
	margin-left:10%;
	width:175px;
	border-top: 1px solid #DEDDDD;
    border-bottom: 1px solid #CCCCCB;
}

nav {
	max-width:175px; 
	width:100%;
	margin-right: auto;
	margin-top:20px;
	position:relative;
	margin-left:10%;
	height:192px;
}

.mobileNav {
	margin-left:-9999px;
}

#offCanvasMenu {
	display:none;
}

/* Menu Styling End */

/* Classes applied by jQuery */

.resetDiv {
	visibility:hidden !important;
	opacity:0.0 !important;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.showDiv {
	visibility:visible !important;
	opacity:1.0 !important;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  	transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); 
}

#headerWrapper.panelLeft {
	margin-left:auto;
	-webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  	transition:         all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

#indexPanel.panelSidebar { /* for specifity to increase importance http://htmldog.com/guides/css/intermediate/specificity/ */
	width:100px;
	-webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition:         all 300ms cubic-bezier(0.165, 0.84, 0.44, 1); 
}

/* Classes applied by jQuery end */

.outerContainer {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
}

.container {
	width:100%;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	height:100%;
}

#indexPanel {
	visibility: hidden;
}

.panel {
	position:absolute;
	right:0px;
	line-height:0;
	min-height: 100% !important;
	height:auto;
	width:60%;
	max-width:780px;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	background-color:rgba(243, 240, 240, 1);
}

.workDisplay {
	position:absolute;
	right:0px;
	line-height:0;
	min-height: 100% !important;
	height:auto;
	width:60%;
	max-width:780px;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	background-color:rgba(243, 240, 240, 1);
}

#indexWorkDisplay {
	visibility:hidden;
}

.imgDiv {
	margin-top:20px;
	overflow:hidden;
	position:relative;
	max-width:616px;
	margin-left: auto; 
    margin-right: auto;
}

.workSmall { /*long work thumbnails on work page */
	width:616px;
	background-color: white;
	height:150px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.content {
	margin-left:10%;
	margin-right:10%;
	margin-top:222px;
}

.work {
	margin-left:10%;
	margin-right:10%;
	margin-top:222px;
}

#img1 {
	margin-top:235px;
}

footer {
	display:none;
	position:fixed;
	bottom:10px;
	width:100%;
	text-align:left;
	left:10px;
	width:190px;
}
