h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

.fix {
clear: both;
}

ul {
list-style: none;
}

body:after { content: ''; background-image: url(http://pls.webtype.com/v.gif?ct=88125,88126,88123,88124&r=18710&p=17639&h=ncsn5xZ1zR9t5KXDd0AqiA%3d%3d); }

@font-face {
 font-family: "Agenda Medium";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/15028f46-0072-4465-9e17-4d4fd0022cdc") format("woff");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "Agenda Medium";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/1b45bb3c-9d91-447a-9372-dc762dca3e6a") format("woff");
 font-style: italic;
 font-weight: normal;
}
@font-face {
 font-family: "Apres RE";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/c61a5c12-2dc5-4e7c-88cb-d53b3b1ae530") format("woff");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "Apres RE";
 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/edadba4a-1806-4f1d-8f28-a474fd358faa") format("woff");
 font-style: italic;
 font-weight: normal;
}
/*
.agendamedium {
  font-family: "Agenda Medium";
  font-style: normal;
  font-weight: normal;
}

.agendamediumitalic {
  font-family: "Agenda Medium";
  font-style: italic;
  font-weight: normal;
}

.apresre {
  font-family: "Apres RE";
  font-style: normal;
  font-weight: normal;
}

.apresreitalic {
  font-family: "Apres RE";
  font-style: italic;
  font-weight: normal;
}*/

h2 {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	font-style:normal;
	color:#ED420A;
	font-size:36px;
	line-height:1;
}

div p {
	font-size:17px;
	line-height:27.5px;
	margin-top:15px;
	font-style:normal;
}

p {
	font-family:"Apres Re", Arial, Helvetica, sans-serif;
	color: #DEDDDD;
	font-size:12px;
	line-height:16px;
}

/* -------------------------- */
/*	Light blue: #00A9B4;
	Dark blue: #007D85;
	Orangered: #EA4423;
	Dark grey: #323232;
	Middle grey: #CCCCCB;
	Light grey: #DEDDDD; */

html{
	height:100%;
	background-position:top;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-color:rgb(0, 125, 133);
	background-image: url("../images/BG_riot.jpg") ;
}

body {
	width:100%;
	height:100%;
}

.outerContainer {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
}

.container {
	width:100%;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	height:100%;
}

#headerWrapper {
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	width:260px;
}

header {
	position:fixed;
	height:100%;
	margin-top:0px;
}

#logoMobile {
	display:none;
}

#logo {
	position:relative;
	max-width:200px;
	margin-right:10%;
	padding-top:200px;
	margin-left:10%;
	display:block;
}

nav {
	max-width:160px; 
	width:100%;
	margin-right: auto;
	margin-top:20px;
	position:relative;
	margin-left:10%;
	height:192px;
}

.mobileNav {
	margin-left:-9999px;
}

nav ul li{
	border-right:0px solid rgba(237,66,10,.9);
	transition: border-right .13s ease-in;
    -moz-transition: border-right .13s ease-in;
    -webkit-transition: border-right .13s ease-in;
}

nav ul li:hover {
	border-right: 10px solid rgba(237,66,10,.9);
}

nav ul li a {
	font-family:"Agenda Medium", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size:36px;
	line-height:50px;
	color:#DEDEDD;
	transition: padding .16s ease-in-out;
    -moz-transition: padding .16s ease-in-out;
    -webkit-transition: padding .16s ease-in-out;
    display:block;
}

a:hover {
	color:#CCCCCB;
	cursor: pointer;
	cursor: hand; 
}

#offCanvasMenu {
	display:none;
}

#indexPanel {
	visibility: hidden;
}

.panel {
	position:absolute;
	right:0px;
	line-height:0;
	min-height: 100% !important;
	height:auto;
	width:60%;
	max-width:931px;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	background-color:#222;
}

.workDisplay {
	position:absolute;
	right:0px;
	line-height:0;
	min-height: 100% !important;
	height:auto;
	width:60%;
	max-width:931px;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	background-color:#222;
}

#indexWorkDisplay {
	visibility:hidden;
}

.imgDiv {
	margin-top:20px;
	overflow:hidden;
	position:relative;
	max-width:616px;
	margin-left: auto; 
    margin-right: auto;
}

.imgDiv a {
	line-height: 0;
	font-size:0;
	height:0;
}

.imgDiv a:hover:before {  
    content: "";  
    display: block;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: rgba(204,204,203, 0.5);  
    -moz-transition: background .3s linear;  
    -webkit-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    transition: background .3s linear;  
}  
  
.imgDiv a:before {  
    background: none;  
}  


.workSmall { /*long work thumbnails on work page */
	width:616px;
	background-color: white;
	height:150px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.content {
	margin-left:10%;
	margin-right:10%;
	margin-top:222px;
}

.work {
	margin-left:10%;
	margin-right:10%;
	margin-top:222px;
}

#img1 {
	margin-top:235px;
}

footer {
	display:none;
	position:fixed;
	bottom:10px;
	width:100%;
	text-align:left;
	left:10px;
	width:190px;
}
