.index-thumbs-container {
	width:50%;
}

.index-thumb {
	width:48%;
}


#logo {
	max-width:100px;
}

.mobile-nav {
	margin-top:225px;
}

.mobile-nav a {
	font-size:1.5rem;
}

header .mobile-nav:nth-child(1) {
	margin-left:80px;
}

header .mobile-nav:nth-child(3) {
		margin-right:65px;
}


#selfieDiv {
	width:100px;
	height:100px;
	margin-left:58px;
}

#selfieDiv:hover {
	height:105px;
	width:105px;
}

#selfieImage {
	background-image: url('../images/selfie-kraken-med.jpg');
}

#hrTop {
	width:100px;
}

.work img {
	max-width:100%;
}

nav {
	max-width:100px; /* same as logo width */
	margin-top:10px;
}

nav ul li {
	width:100px;
}

nav ul li::before {
	height:35px;
	margin-left:50px;
}

nav ul li:hover::before {
	width:100px;
	border-radius:2px;
	margin-left:0px;
}

nav ul li a {
	margin-left:7px;
	font-size:1.5rem;
	line-height:35px;
}


.contentSidebar .articleDiv a, .contentSidebar .imgDiv a {
	font-size:1rem;
}

.panel {
	width:85%;
}

.workDisplay {
	width:65%;
}

.workDisplay .content {
	width:70%;
	max-width:7000px;
}
