#logo {
	max-width:100px;
}

#selfieDiv {
	width:100px;
	height:100px;
}

#selfieImage {
		background-image: url('../images/placeholder_selfie_med.jpg');
}

#hrTop {
	width:100px;
}

.work img {
	max-width:100%;
}


nav {
	max-width:100px; /* same as logo width */
	margin-top:10px;
}

nav ul li a {
	font-size:26px;
	line-height:40px;
}

